:root {
  --text: #f1f1f1;
  --accent: rgb(65, 110, 168);
}

body {
  background-color: #282c34;
  color: var(--text);
}

header {
  background-color: var(--accent);
  width: 100%;
  height: 4.5rem;
}

header > h1 {
  float: left;
  margin-left: 0.6rem;
}

.header-left {
  float: right;
}

#logout {
  margin: .6rem;
  display: inline-block;
  position: relative;
  padding: 1rem;
  top: 0;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  background-color: rgb(102, 138, 185);
  color: #fff;
}

#logout:hover {
  top: 0;
  box-shadow: none;
  background-color: rgba(102, 138, 185, 0.671);
}